<?php
/* @var \Polywood\CustomerService\Block\Adminhtml\Cart\View\Cart $block */
?>

<?php if ($block->getCartHeader()) : ?>
<div class="content-header skip-header">
    <table>
        <tr>
            <td style="width:50%;"><h4><?= $block->escapeHtml($block->getCartHeader()) ?></h4></td>
        </tr>
    </table>
</div>
<?php endif ?>
<?= $block->getGridParentHtml() ?>


