<?php
/** @var \Polywood\CustomerService\Block\Adminhtml\Cart\View\Totals $block */
?>
<legend class="admin__legend"><span><?= $block->escapeHtml(__('Cart Totals')) ?></span></legend>
<br>

<table class="admin__table-secondary data-table">
    <tbody>
        <?= /* @noEscape */ $block->renderTotals() ?>
        <?= /* @noEscape */ $block->renderTotals('footer') ?>
    </tbody>
</table>

<div style="text-align:right;">
    <?php if($block->getAppliedRuleIds()): ?>
        <p>Applied Rule Ids: <?= $block->getAppliedRuleIds(); ?></p>
    <?php endif; ?>

    <?php if($block->getUpdatedAt()): ?>
        <p>Last Updated: <?= date('F j, Y, g:i a', strtotime($block->getUpdatedAt()) ); ?></p>
    <?php endif; ?>
</div>

<br />
<hr />
<br />
<legend class="admin__legend"><span><?= $block->escapeHtml(__('Customer Info')) ?></span></legend>
<br />
<?php if($block->getCustomerId()): ?>
<table class="admin__table-secondary data-table">
    <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
    <th>Shipping Address</th>
    <th>Remote IP</th>
    <th></th>
    </thead>
    <tbody>
    <tr>
        <td><?= $block->getCustomerId(); ?></td>
        <td><?= $block->getCustomerName(); ?></td>
        <td><?= $block->getCustomerEmail(); ?></td>
        <td><?= $block->getShippingAddress() ?></td>
        <td><?= $block->getCustomerRemoteIp(); ?></td>
        <td><a href="<?= $block->getUrl('customer/index/edit/id/' . $block->getCustomerId(), ['_current' => true]);?>">View Customer</a></td>
    </tr>
    </tbody>
</table>
<br />

<?php else: ?>
    <p>This customer for this quote is not logged in.</p>
<?php endif; ?>





