
<div data-bind="scope: 'customerservice'" style="text-align:center; font-size:.8em">
    <!-- ko if: quoteId() -->
    Customer Service Id: <span data-bind="text: quoteId()"></span>
    <!-- /ko -->
</div>

<script type="text/x-magento-init">
   {
       "*": {
           "Magento_Ui/js/core/app": {
               "components": {
                   "customerservice": {
                       "component": "Polywood_CustomerService/js/quoteidcomponent"
                   }
               }
           }
       }
   }
</script>
